/*CSS Reset*/

* {
	color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.navbar {
	background-color: rgba(38, 104, 121, 0.75);
}

#bg-img {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)), 
	  url("./images/bg.jpg");
	 height: 100vh;
	 background-repeat: inherit;
}

@media screen and (max-width: 768px) {
      /* Hide content on screens up to 768px wide */
      .hide-on-small {
        display: none;
